@charset "ISO-8859-1";

.red {
  background-color: #ff0000;
}

.black {
  background-color: #000000;
}

* {
  color: #ffffff;
}


nav {
  margin: 0px;
  background-color: #ffefdb;
}

.row {
}

.head {
  background-color: #00FFFF;
}

@media screen and (max-width: 275px) {
  span.psw {
	float: none;
	display: block;
  }
  .cancelbtn {
    width: 100%;
  }
}
