@CHARSET "ISO-8859-1";
form {border: 4px solid #f2f2f2;}

input[type=text],
input[type=password] {
  width: 80%;
  margin: 7px 0;
  border: 1.5px solid #ccc;
  padding: 10px 15px;
  box-sizing: border-box;
  display: inline-block;
  
}

button {
  color: #8B0000;
  background-color: #FFD700;
  margin: 10px 0;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  width: 100%;
}

button:hover {
  opacity: 0.75;
}

.cancelbtn {
  width: auto;
  padding: 12px 20px;
  background-color: #f42338;
}

.imgcontainer {
  text-align: center;
  margin: 22px 0 12px 0;
}


.container {
  padding: 18px;
  width: 550px
}

span.psw {
  float: right;
  padding-top: 18px;
}

@media screen and (max-width: 275px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}